



<table>
    <tr>
        <th>momId</th>
        <td>MOM-20230626104203</td>
    </tr>
    <tr>
        <th>title</th>
        <td>Internal Meeting</td>
    </tr>
    <tr>
        <th>venue</th>
        <td>Office</td>
    </tr>
    <tr>
        <th>meetingDate</th>
        <td>26/06/2023 11:00</td>
    </tr>
    <tr>
        <th>chairPerson</th>
        <td>Priya Srivastav</td>
    </tr>
    <tr>
        <th>mode</th>
        <td>In-Person</td>
    </tr>
    <tr>
        <th>keywords</th>
        <td>Passenger Business & TCOE</td>
    </tr>
    <!-- <tr>
        <th>momAttendeesResponse</th>
    </tr> -->
    
    <!-- momAttendeesResponse -->


    <!-- momActionResponse -->
    
    <tr>
        <th>editedBy</th>
        <td>priya@cris.org.in</td>
    </tr>
    <tr>
        <th>editTime</th>
        <td>26/06/2023 14:51</td>
    </tr>
    <tr>
        <th>remarks</th>
        <td>Make it final 3</td>
    </tr>
    <tr>
        <th>status</th>
        <td>APPROVED</td>
    </tr>
    <tr>
        <th>linkedMOM</th>
        <td>MOM-20230626102919</td>
    </tr>
    <tr>
        <th>pdfFile</th>
        <td></td>
    </tr>

    <tr><th>momEditHistoryResponse</th></tr>

    <!-- momEditHistoryResponse -->

</table>